* {
	box-sizing:border-box;
}

header, main, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}

body {
	background-color:#FFFFFF;
	background-size:100% 100%;
	color:#666666;
	font-family: Arial;
}

main {
	padding: 1px 20px 20px 20px;
	background-color:#FFFFFF;
	margin-left:190px;
	padding-left:30px;
}

header {
	color:#FFFFFF;
	background:#00B386;
	text-align:center;
	height:175px;
	padding-top:30px; padding-left: 3em;
}

footer {
	font-size:75%;
	background-color: #FFFFFF;
	margin-left: 190px;
	font-style:italic;
	text-align:center;
	font-family:Georgia;
	padding:15px;
}

nav {
	padding:1.5em;
	font-size:120%;
	float:left;
	width:160px;
	font-weight: bold;
}

nav ul {
	list-style:none;
	margin:0;
	padding-left: 0;
	font-size: 1.2em;
}

nav a {
	text-decoration:none;
}

nav a:link {
	color:#00664D;
}

nav a:visited {
	color: #7A7A52;
}

nav a:hover {
	color:#FFFFFF;
}

h1, h2, h3 {
	font-family: Georgia;
}

h1 {
	margin-bottom:0;
	text-shadow: 1px 1px #CCCCCC;
	margin-top:0;
	font-size:3em;
	letter-spacing:.25em;
}

h2 {
	color: #00664D;
	
}

main ul {
	list-style-image:url("images/marker.gif")
}

dt {
	color: #00664D;
	
}

#wrapper {
	margin:auto;
	background-image: linear-gradient(#ffffff, #0C5442);
	background-color:#0C5442;
	width:80%;
	min-width: 900px; max-width: 2050px;
	border: 1.5pt #003300;
	box-shadow: 4px 4px #133926;
}

.barn {
	color: #70DBDB;
	font-weight:bold;
}

#contact {
	font-size:90%;
}
#heroHome, #heroBoard, #heroTraining {
	margin-left:190px;
}

#heroHome {
	height: 300px;
	background: url("images/sunsetHorse.png") no-repeat;
	background-size: 100% 100%;
}

#heroBoard {
	height:300px;
	background: url("images/fenceline.png") no-repeat;
	background-size: 100% 100%;
}

#heroTraining {
	height:300px;
	background: url("images/BayBella.png") no-repeat;
	background-size: 100% 100%;
}

#mobile {
	display:none;
}

#desktop {
	display:none;
}

@media only screen and (max-width:64em) {
	body {
		margin:0;
		background-color:#FFFFFF;
	}
	
	header {
		padding-top:0.5em;
		padding-bottom:0.5em;
		padding-left:0;
		height:auto;
	}
	
	main {
		margin-left:0;
	}
	
	nav {
		float:none;
		width:auto;
		text-align:center;
		padding:0.5em;
	}
	
	nav li {
		display:inline;
		padding: .25em .75em;
		
	}
	
	h1 {
		letter-spacing: 0.1em;
	}
	
	#wrapper {
		min-width:0;
		width:auto;
		box-shadow:none;
		border:none;
	}
	
	#heroHome, #heroBoard, #heroTraining {
		margin-left:0;
		height:200px;
	}
	
	footer {
		margin-left:0;
	}
}

@media only screen and (max-width:37.5em) {
	main {
		padding: 0.1em 1em;
		font-size:90%;
	}
	
	h1 {
		font-size:2em;
	}
	
	nav {
		padding:0;
	}
	
	nav li {
		display:block;
		margin:0;
		border-bottom: 2px solid #330000;
		
	}
	
	nav li a {
		display:block;
		
	}
	
	#heroHome, #heroBoard, #heroTraining {
		background-image:none;
		height:0;
	}
	
	#mobile {
		display:inline;
	}
	
	#desktop {
		display:none;
	}
}