@charset "UTF-8";
/* CSS Document */
* {
	font-size: 12px;
}

body {padding: 30px 0 75px;}

.center {
	text-align:center;
}

p {
	
}

.row {
	margin: 2rem 0 0;
}

img {
	width:100%;height:auto;
	margin:2rem 0;
}

h1 {font-size:4.66rem;}
h2 {font-size:3rem;}
h3 {font-size:2rem;}
h4 {font-size:1.33rem;}
p {font-size:1.33rem;margin:2rem 0;line-height: 2rem;}