@charset "UTF-8";
/* CSS Document */
* {
	font-size: 15px;
	font-family:helvetica, sans; 
	background-color:#222222;
	color:#fff;
}
body {
	margin:0;
}

p {
	font-size:1em;
	text-align:justify;
	line-height: 1.5em;
}

p a {
	text-decoration:underline;
}

p a:hover {
	color:#ff0000;
}

h1 {
	font-size:1.66em;
}

a {
	text-decoration:none;
	color:#fff;
}
a:visited {
	color:#fff;
}

.wrapper {
	width:100%;
	overflow-x:hidden;
}

main {
	display:flex;
	width:70%;
	float:right;
	padding:15px 45px 0 0;
	align-content:center;
	justify-content: center;
	flex-direction: column;
}

label {
	float:left;
	display:block;
	text-align: left;
	width:125px;
	padding-right:2em;
}

input, textarea {
	display:block;
	margin-bottom:20px;
	background-color:#fff;
	border-radius:3px;
	color:#000;
}




nav {
	display:block;
	width:15%;
	float:left;
	padding:15px 0 0 45px;
	z-index: 1;
	position:absolute;
	background-color: #222;
}

nav ul {
	list-style: none;
	margin:0;
	padding:0
}

nav li>a {
	font-size:1.33em;
}

nav li {
	padding-top:15px;
}

#nameTag>a {
	font-size:3em;
}


td {
	padding-right:30px;
}

.flex-wrap {
	display:flex;
	justify-content: center;
	
}

.row {
	flex-direction:row;
}

.column {
	flex-direction:column;
}

.flex-item {
	display:block;
	margin:15px;
	overflow:hidden;
}
.square {
	width:30vw; height:30vw;
}

.rectangle {
	width:100%;height:auto;
}

.square {
	overflow:hidden;
}

.square:after {
	content:"";
	display:block;
	padding-bottom:100%;
}

.square img {
	height:100%; height:auto;
	
}

.flex-item img {
	width:100%;height:auto;
}

@media only screen and (max-width: 768px) {
	nav {
		width:100%;
		clear:both;
		position:relative;
	}
	nav li {
		float:left;
		padding-right: 15px;
	}
	.flex-item {
		width:90vw;height:auto;
	}
	.flex-item:after {
		display:none;
	}
	main {
		float:none;
		padding:0;
	}
}